<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissor</title>
    <link href = "main.css" rel="stylesheet">
</head>
<body>
    <div id="head">
    <h1 id="heading">Rock Paper Scissor</h1>
    </div>
    <main id="main_out">
        <div id="main_in">
            <div id="choice">
                <div id="rock" class="choic">
                    <img src="images/rock.png">
                </div>
                <div id="paper" class="choic">
                    <img src="images/paper.png">
                </div>
                <div id="scissor" class="choic">
                    <img src="images/scissors.png">
                </div>
            </div>
            <div id="score">
                <div id="y_score" class="scoreb">
                    <div id="y_num">0</div>
                    <h3>You</h3>
                </div>
                <div id="c_score" class="scoreb">
                    <div id="c_num">0</div>
                    <h3>Computer</h3>
                </div>
            </div>
            <div>
                <h2 id="result1">Play Your Move</h2>
            </div>
            <button type="reset" id="reset">Reset</button>
        </div>
        <!-- <aside><p>This ad is by Elon musk</p></aside> -->
    </main>
    <script src="first.js"></script>
</body>
</html>